.header-title {
  padding: 16px 24px;
  text-transform: uppercase;
  background: linear-gradient(to right, #f8f8f8, #ffffff);
  border-top: solid 1px #b8ffec;
  margin-top: 25px;
  color: $textAlt1;
  font-weight: 700;
}
