.contact-buttons {
  display: flex;
  gap: 16px;

  &__phone {
    background: url('../img/phone.svg') no-repeat;
  }

  &__chat {
    background: url('../img/chat.svg') no-repeat;
  }

  &__profile {
    background: url('../img/profile.svg') no-repeat;
  }
}
