.footer {
  border-top: solid 1px #b8ffec;
  margin-top: 25px;
  padding: 16px 16px;
  color: $textAlt2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;

  @media (min-width: $stopSlider) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 32px 16px;
  }

  @media (min-width: 1119.98px) {
    padding: 32px;
  }

  &__develop-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $stopSlider) {
      align-self: start;
      align-items: start;
    }
  }

  &__developer {
    @media (min-width: $stopSlider) {
      text-align: start;
    }
  }

  &__policy {
    color: $textAlt2;
    text-decoration: underline;
    align-self: center;
    justify-self: center;

    @media (min-width: $stopSlider) {
      align-self: start;
    }
  }

  &__public-offer {
    @media (min-width: $stopSlider) {
      text-align: end;
    }
  }
}
